.catalog {
  padding-bottom: 58px;

  @include media-tablet {
    padding-bottom: 64px;
  }

  @include media-desktop {
    padding-bottom: 105px;
  }
}

.catalog__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 30px;

  margin-bottom: 30px;

  @include media-tablet {
    margin-bottom: 53px;
  }

  @include media-desktop {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 55px;

    margin-bottom: 57px;
  }
}
