.catalog {
  padding-bottom: 58px;

  @include media-tablet {
    padding-bottom: 64px;
  }

  @include media-desktop {
    padding-bottom: 105px;
  }
}

.catalog__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 30px;

  margin-top: 31px;
  margin-bottom: 30px;

  @include media-tablet {
    margin-bottom: 53px;
  }

  @include media-desktop {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 50px;

    margin-bottom: 57px;
  }
}

.catalog__img-link {
  display: block;
}

.catalog__img-wrapp {
  overflow: hidden;
}

.catalog__img-link:hover .card__img {
  transform: scale(1.2);
}
