.contacts {
  padding-top: 38px;
  padding-bottom: 39px;

  @include media-tablet {
    padding-top: 0;
    padding-bottom: 57px;
  }
}

.contacts__title {
  margin-bottom: 28px;

  @include media-tablet {
    margin-bottom: 49px;
  }
}

.contacts__wrapp {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-bottom: 62px;

  @include media-tablet {
    flex-direction: row;
    gap: 25px;
    margin-bottom: 49px;
  }
}

.contacts__indent {
  margin-left: 32px;
}

.contacts__map {
  margin-bottom: 42px;

  @include media-tablet {
    margin-bottom: 55px;
  }
}
