.contacts {
  padding-top: 38px;

  @include media-tablet {
    padding-top: 0;
  }

  @include media-desktop {
    padding-left: 50px;
    padding-right: 50px;
    display: grid;
    grid-template-areas:
      "text map"
      "btn map";

    grid-template-columns: auto 527px;
  }
}

.contacts__grid-text {
  @include media-desktop {
    grid-area: text;
    padding-left: 175px;
    padding-right: 45px;
  }
}

.contacts__grid-btn {
  @include media-desktop {
    grid-area: btn;
  }
}

.contacts__title {
  margin-bottom: 28px;

  @include media-tablet {
    margin-bottom: 33px;
    text-align: left;

    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include media-desktop {
    position: relative;
    margin-top: 71px;
    margin-bottom: 35px;
  }
}

.contacts__wrapp {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 62px;

  @include media-tablet {
    flex-direction: row;
    gap: 50px;
    margin-bottom: 49px;
    align-items: start;
  }

  @include media-desktop {
    flex-direction: column;
    margin-bottom: 28px;
    gap: 30px;
  }
}

.contacts__address {
  display: flex;
}

.contacts__indent {
  margin-left: 34px;
  position: relative;
  display: inline-block;

  @include media-tablet {
    margin-left: 26px;
  }
}

.contacts__indent--email {
  margin-left: 29px;

  @include media-tablet {
    margin-left: 21px;
  }

  @include media-desktop {
    margin-left: 19px;
  }
}

.contacts__indent--email::after {
  // display: block;
  content: "";
  position: absolute;
  height: 2px;
  right: 0;
  left: 0;
  bottom: -1px;
  background-color: $color-line-link;

  @include media-desktop {
    bottom: -5px;
  }
}

.contacts__indent--email:hover {
  color: $color-link-hover;
}

.contacts__indent--email:active::after {
  opacity: 0.1;
}

.contacts__map {
  margin-bottom: 42px;

  @include media-tablet {
    margin-bottom: 56px;
  }

  @include media-desktop {
    grid-area: map;
    margin-bottom: 107px;

  }
}

.contacts__btn {
  margin-bottom: 39px;

  @include media-tablet {
    width: 230px;
    margin: 0 auto 57px;
  }

  @include media-desktop {
    margin-left: 125px;
    margin-bottom: 0;
  }
}

.contacts__email {
  padding: 0;
  margin: 0;
}
