.contacts {
  padding-top: 38px;

  @include media-tablet {
    padding-top: 0;
  }

  @include media-desktop {
    padding-left: 50px;
    padding-right: 50px;
display: grid;
grid-template-areas:
"text map"
"btn map"
}
grid-template-columns: auto 527px;
}

.contacts__grid-text {

  @include media-desktop {
  grid-area: text;
}
}

.contacts__grid-btn {

  @include media-desktop {

  grid-area: btn;
}
}

.contacts__title {
  margin-bottom: 28px;

  @include media-tablet {
    margin-bottom: 49px;
text-align: left;
  }
}

.contacts__wrapp {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-bottom: 62px;

  @include media-tablet {
    flex-direction: row;
    gap: 25px;
    margin-bottom: 49px;
    align-items: start;
  }
}

.contacts__address {
display: flex;
}

.contacts__indent {
  margin-left: 32px;
  position: relative;
  display: inline-block;
 }

 .contacts__indent--email::after {
// display: block;
content: "";
position: absolute;
height: 2px;
right: 0;
left: 0;
bottom: 0;
background-color: $color-line-link;
}

.contacts__map {
  margin-bottom: 42px;

  @include media-tablet {
    margin-bottom: 55px;
  }


  @include media-desktop {
  grid-area: map;
  }
}
.contacts__btn {
  margin-bottom: 39px;

  @include media-tablet {
  width: 230px;
  margin: 0 auto 57px;
  }
}

.contacts__email {
  padding: 0;
  margin: 0;

}
