.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 33px;

  &--dop {
    margin-bottom: 17px;
  }

  @include media-tablet {
    margin-bottom: 50px;
  }
}

.form__bg-color {
  @include media-tablet {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $color-line-wavy;
  }
}

.form__legend {
  width: 100%;
  padding: 0;
  margin-bottom: 25px;

  display: flex;
  align-items: center;
  gap: 16px;

  // background-color: #00ff00;

  &--cont {
    margin-bottom: 5px;
  }

  @include media-tablet {
    width: fit-content;
    grid-area: label;
    margin-bottom: auto;
    margin-top: 16px;
  }

  &::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: $color-line-link;
  }
}

.form__wrapp-grid {
  @include media-tablet {
    display: grid;
    grid-template-columns: 167px 1fr;
    grid-template-areas: "label ul";
    grid-template-rows: max-content;
  }

  @include media-desktop {
    grid-template-columns: 174px 1fr;
    padding-right: 173px;
  }
}

.form__list-type {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 11px;

  // background-color: #00ffff;
  // grid-area: ul;
}

.form__list-color {
  @include list-reset;
  display: grid;
  grid-template-columns: 1fr;
  gap: 23px;

  @include media-tablet {
    grid-template-columns: 1fr 1fr;
    gap: 23px;
  }

  @include media-desktop {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.form__list-fio {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 22px;

  @include media-tablet {
    grid-area: ul;
    // background-color: #7fffd4;
    gap: 24px;
  }
}

.form__wrapp-fio--wrapp-flex {
  @include media-tablet {
    display: flex;
    // background-color: #8b008b;
    gap: 24px;
    align-items: center;
  }
}

.form__field {
  display: block;
  border: none;
  padding: 17px 10px 17px 0;
}

.form__icon {
  position: relative;
}

.form__icon::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;

  // @include media-tablet {
  //   right: 14px;
  // }

  // @include media-desktop {
  //   right: 16px;
  // }
}

// .icon--email:has(.form__field:not(:disabled):focus)::after,
// .icon--phone:has(.form__field:not(:disabled):focus)::after {  //цвет менялся
//   background-color: $color-bg-base;
// }

// .icon--email:has(.form__field:not(:placeholder-shown):invalid)::after,
// .icon--phone:has(.form__field:not(:placeholder-shown):invalid)::after {
//   background-color:$color-error;
// }

.form__field-cont {
  display: block;
  border: none;
  padding: 16px 40px 20px 0;

  @include media-tablet {
    // grid-area: ul;

    background-color: transparent;
    width: 100%;
  }
}

.form__line-bottom {
  border-bottom: 2px solid $color-text-base;
}

.form__textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 2px solid $color-text-base;
  opacity: 1;
  padding: 17px;

  @include media-tablet {
    grid-area: ul;
    // background-color: #008b8b;
  }
}

.form__wrapp-submit {
  @include media-tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include media-desktop {
    padding-right: 173px;
    padding-left: 174px;
  }
}

.form__text {
  @include media-tablet {
    order: 1;
  }
}

.form__btn {
  width: 260px;
  margin: 0 auto;

  @include media-tablet {
    width: 230px;
    margin: 0;
  }
}
