.hero {
  box-sizing: border-box;
  height: 283px;
  padding-top: 73px;
  padding-bottom: 10px;

  // background-image: url("../../img/index-img/hero-mobil.jpg");

  background-color: $color-bg-hero;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 260px 283px;

  background-image: image-set(url("../../img/index-img/hero-mobil.webp") 1x type("image/webp"),
  url("../../img/index-img/hero-mobil.jpg") 1x,
  url("../../img/index-img/hero-mobil-@2x.webp") 2x type("image/webp"),
  url("../../img/hero/hero-bg-desktop-@2x.jpg") 2x);

  margin-left: -30px;
  margin-right: -30px;
  padding-left: 30px;
  padding-right: 30px;

  @include media-tablet {
    height: 560px;
    padding-top: 88px;

    // background-image: url("../../img/index-img/hero-desktop.jpg");

    margin-left: -50px;
    margin-right: -50px;
    padding-left: 50px;
    padding-right: 50px;

    background-size: auto;
    background-position: 0 -68px;

    background-image: image-set(url("../../img/index-img/hero-desktop.webp") 1x type("image/webp"),
    url("../../img/index-img/hero-desktop.jpg") 1x,
    url("../../img/index-img/hero-desktop-@2x.webp") 2x type("image/webp"),
    url("../../img/index-img/hero-desktop-@2x.jpg") 2x);
  }

  @include media-desktop {
    height: 560px;
    padding-top: 90px;
    padding-left: 175px;
    padding-right: 175px;

    padding-bottom: 0;


    background-position: 191px -69px;
  }
}
