.html {
  height: 100%;
}

.html__body {
  margin: 0 auto;
  background-color: $color-white;

  min-width: $mobile-width;

  outline: 1px solid #ff0000;

  @include media-desktop {
    max-width: $desktop-width;
  }
}