.icon
{
	overflow: visible;

  @include icon;

  &::before {
    content: "";

    @include icon;
  }

  &::after {
    content: "";

    @include icon;
  }
}

.icon__n::before {
  margin-left: -6px;
  margin-bottom: 18px;

  width: 55px;
  height: 38px;

outline: auto;
}

.icon__n--1::before {
  // width: 33px;
  // height: 38px;
	background-size: 33px 38px;
  background-image: url("../../img/stack.svg#icon-eco");
}

.icon__n--2::before {
  // width: 47px;
  // height: 27px;
	background-size: 47px 27px;
  background-image: url("../../img/stack.svg#icon-kover");
}

.icon__n--3::before {
  // width: 34px;
  // height: 27px;
	background-size: 34px 27px;
  background-image: url("../../img/stack.svg#icon-heart");
}

.icon__n--4::before {
  // width: 35px;
  // height: 34px;
	background-size: 35px 34px;
  background-image: url("../../img/stack.svg#icon-klubok");
}

.icon__n--5::before {
  // width: 55px;
  // height: 23px;
	background-size: 55px 23px;
  background-image: url("../../img/stack.svg#icon-raceta");
}

.icon__n--6::before {
  // width: 33px;
  // height: 32px;
	background-size: 33px 32px;
  background-image: url("../../img/stack.svg#icon-present");
}

.icon--bg-zigzag::after {
  box-sizing: border-box;
width: auto;
height: 6px;
background-image: url("../../img/stack.svg#zigzag-line-desktop");
margin-left: -30px;
margin-right: -30px;
margin-top: 52px;
}

.icon__arr::after {
  margin-left: 0;
  margin-bottom: 0;

  width: 50px;
  height: 26px;

  background-image: url("../../img/stack.svg#icon-arrow-right");
}

.icon__arr--left::after {
  transform: rotate(180deg);

}


.icon--social {
  display: block;
  width: 28px;
  height: 22px;

  &::before {
    content: "";
    display: block;
    width: 28px;
    height: 22px;

    background-color: $color-sotial;

    mask-repeat: no-repeat;
    mask-size: 28px 22px;
    mask-position: center;
  }
}

.icon--vk::before {
  mask-image: url("../../img/stack.svg#icon-vkontakte");
}

.icon--youtube::before {
  mask-image: url("../../img/stack.svg#icon-youtube");
}

.icon--telegramm::before {
  mask-image: url("../../img/stack.svg#icon-telegram");
}


.icon--basket {
  width: 20px;
  height: 19px;
  mask-repeat: no-repeat;
  mask-size: 20px 19px;
  mask-position: center;
  mask-image: url("../../img/stack.svg#icon-cart");

  background-color: rgba(0, 0, 0, 0.8);

}
