.main-header {
  padding-top: 22px;
}

.main-header__link {
  display: block;
  margin: 0 auto;
  width: fit-content;

  @include media-tablet {
    margin-right: auto;
    margin-left: 0;
  }

  @include media-desktop {
    margin-right: 0;
  }
}

.main-header__nav {
  display: flex;
  flex-direction: column;
}

.main-header__title {
  padding-top: 74px;
  padding-bottom: 74px;

  background-color: $color-bg-base;

  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: 30px;

  @include media-tablet {
    margin-left: -50px;
    margin-right: -50px;
    margin-bottom: 79px;

    padding-top: 57px;
    padding-bottom: 63px;
  }
}
