.main-header {
  padding-top: 22px;
}

.main-header__link {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

.main-header__nav {
  display: flex;
  flex-direction: column;
}

.main-header__title {
  padding-top: 74px;
  padding-bottom: 74px;

  background-color: $color-bg-base;

  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: 30px;
}
