.order {
  padding-top: 22px;
  padding-bottom: 51px;
  border: 1px solid $color-line;
}

.order__title {
  margin-bottom: 27px;
  padding-left: 91px;
}

.order__text {
  padding-left: 34px;
  padding-right: 10px;
  margin-bottom: 41px;
}
