.order {
  padding-top: 30px;
  padding-bottom: 51px;
  border: 1px solid $color-line;

  @include media-tablet {
    padding-bottom: 46px;
  }
}

.order__title {
  margin-bottom: 27px;
  padding-left: 91px;

  @include media-tablet {
    padding-left: 107px;
    margin-bottom: 25px;
  }
}

.order__text {
  padding-left: 34px;
  padding-right: 10px;
  margin-bottom: 41px;
}
