.promo-link {
  display: flex;
  flex-direction: column;

  margin-left: -30px;
  margin-right: -30px;

  @include media-tablet {
    flex-direction: row;
    margin-left: 0;
    margin-right: 0;
  }
}

.promo-link__card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 23px 36px 19px 30px;

  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: translateY(-5px);

    &::after {
      // ПОЧЕМУ НЕ РАБОТАЕТ?
      opacity: 0.3;
    }
  }

  &::after {
    content: "";
    display: block;

    background-repeat: no-repeat;
    transition: opacity 0.3s ease-in-out;
  }

  @include media-tablet {
    padding: 25px 36px 34px 36px;
    flex-grow: 1;
  }
}

.promo-link__card--light {
  background-color: $color-bg-1;

  &::after {
    width: 42px;
    height: 62px;
    background-size: 42px 62px;
    background-image: url("../../img/stack.svg#icon-lamp");

    @include media-tablet {
      background-position: 0 5px;
    }
  }
}

.promo-link__card--dark {
  background-color: $color-bg-2;

  &::after {
    width: 62px;
    height: 62px;
    background-size: 62px 62px;
    background-image: url("../../img/stack.svg#icon-lego");
  
    @include media-tablet {
      background-position: 2px 6px;
    }
  }
}