.reviews {
  padding-top: 20px;
  // margin-bottom: 45px;

  width: fit-content;

  @include media-tablet {
    position: relative;

    padding-top: 79px;
    // padding-bottom: 68px;
    margin-bottom: 46px;
    background-image: url("../../img/index-img/bg-index.jpg");
    background-repeat: no-repeat;
    background-size: 350px 457px;
    background-position: top left;
  }

  @include media-desktop {
    margin-left: 50px;
    padding-left: 175px;
  }
}

.reviews__title {
  margin-bottom: 14px;

  @include media-tablet {
    margin-bottom: 39px;
  }
}

.reviews__btn-arrow-wrapp {
  display: flex;
  margin-bottom: 38px;

    @include media-tablet {
      position: absolute;
      bottom: 90px;
      right: 0;
    }
  }

  .reviews__btn-arrow {
    display: block;
    padding: 12px 42px 12px 38px;
    border: 1px solid $color-line;
    background-color: $color-white;

    flex-grow: 1;

    @include media-tablet {
      border: none;
    }
  }

  .reviews__btn {
    @include media-tablet {
      position: absolute;
      top: 79px;
      right: 0;

      width: fit-content;
    }
  }
