.reviews {
  padding-top: 20px;
  padding-bottom: 45px;

  @include media-tablet {
    padding-top: 79px;
    padding-bottom: 68px;
    margin-bottom: 46px;
    background-image: url("../../img/tmp/bg-index.jpg");
    background-repeat: no-repeat;
    background-size: 350px 457px;
    background-position: top left;
  }
}
