.section-form {
  margin-bottom: 55px;

  @include media-tablet {
    margin-bottom: 49px;
  }
}

.section-form__description {
  margin-bottom: 30px;
  margin-top: 17px;

  @include media-tablet {
    margin-top: 64px;
    margin-bottom: 65px;
  }

  @include media-desktop {
    margin-top: 110px;
    padding-right: 173px;
    padding-left: 174px;
  }
}
