.social {
  @include list-reset;
  border-bottom: 1px solid $color-line-footer;
  padding-top: 28px;
  padding-bottom: 31px;

  padding-left: 59px;
  padding-right: 59px;

  // width: fit-content;
  display: flex;
  gap: 29px;

  @include media-tablet {
    border-bottom: none;
  }
}
