.video {
  box-sizing: border-box;
  width: 260px;
  height: 150px;

  @include media-tablet {
    width: 668px;
    height: 455px;
  }

  @include media-desktop {
    width: 683px;
  }
}

.video__play {
  display: block;
  box-sizing: border-box;
  width: 101px;
  height: 77px;
  border: none;
  background-color: transparent;

  background-image: url("../../img/catalog/play.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  transition: scale, opacity 0.3s ease-in-out;

  @include media-tablet {
    width: 102px;
    height: 78px;
  }

  @include media-desktop {
    width: 101px;
    height: 77px;
  }

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.7;
  }
}


.video__play-wrapp {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
