.button {
  padding: 16px 26px;
  display: block;
  width: 100%;
  border: 2px solid $color-text-base;
  background-color: $color-white;

  transition: color, background-color 0.3s ease-in-out;


&:hover {
  background-color: $color-text-base;
  color: $color-white;
}

&:active {
  color: rgba(255, 255, 255, 0.3);
}
}

