.button {
  padding: 14px 26px;
  display: block;
  width: 100%;
  border: 2px solid $color-text-base;
  background-color: $color-white;

  &:hover {
    background-color: $color-text-base;
    color: $color-white;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
